/* scss 파일명 앞에 _(언더바) 기호를 사용하면 css 파일을 컴파일하지 않음 */

footer{
  padding: $space-4xl 0 $space-xl 0;
  background-color: $black;
  color: $white;

  .inner{
    .footer__content{
      padding-bottom: $space-xl;
      @include grid-container(2fr repeat(3, 1fr), $gap-l);
      @include border('bottom');

      .footer__text-wrap{
        h3{
          font-size: $font-base;
          font-weight: 600;
          margin-bottom: $space-l;
        }

        p{ font-size: $font-s; }
      }

      .fnb{
        font-size: $font-base;

        h3{
          font-weight: 600;
          margin-bottom: $space-l;
        }

        ul{
          @include grid-container(1fr, $gap-s);

          li{
            a{
              color: $light-gray;
              @include transition(all, 0.25s);

              @media (hover: hover) and (pointer: fine){
                &:hover{ color: $white; }
              }
            }
          }
        }
      }
    }

    .footer__bottom{
      padding-top: $space-xl;
      @include grid-container(1fr auto, $gap-s);
      align-items: center;

      .copyright{
        font-size: $font-s;
        color: $light-bg;
      }

      .sns-wrap{
        width: fit-content;
        @include grid-container(repeat(4, 1fr), $gap-s);

        button{
          width: 40px;
          height: 40px;
          background-color: $white;
          border: none;
          border-radius: 50%;

          a{
            color: $light-gray;
            @include transition;

            @media (hover: hover) and (pointer: fine){
              &:hover{ color: $point-color; }
            }
          }
        }
      }
    }
  }
}