/* scss 파일명 앞에 _(언더바) 기호를 사용하면 css 파일을 컴파일하지 않음 */

header{
  background-color: $white;
  @include border('bottom');

  .inner{
    @include grid-container(auto 1fr auto, $gap-l);
    align-items: center;

    .logo{
      font-size: $font-2xl;
      font-weight: 800;
      color: $dark;
      user-select: none;
      cursor: pointer;
      @include transition;

      @media (hover: hover) and (pointer: fine){
        &:hover{ color: $point-color; }
      }
    }

    .gnb{
      ul{
        height: 100%;
        @include grid-container(repeat(3, auto), $space-2xl);
        justify-content: start;
        align-items: center;

        li{
          padding: $space-l 0;

          a{
            color: $gray;
            @include transition(all, 0.25s);

            @media (hover: hover) and (pointer: fine){
              &:hover{ color: $black; }
            }
          }
        }
      }
    }

    .header__btn-wrap{
      @include grid-container(repeat(2, auto), $space-l);

      .icon-btn{
        width: 40px;
        height: 40px;
        background-color: $white;
        @include btn-line;
      }
    }
  }
}