/* scss 파일명 앞에 _(언더바) 기호를 사용하면 css 파일을 컴파일하지 않음 */

/* ===== Color ===== */
$white: #fdfdfd;
$black: #111;
$dark: #333;
$gray: #555;
$light-gray: #a0a0a0;
$border-color: #e0e0e0;
$point-color: #dc143c;
$light-bg: #ffc0cb;



/* ===== Font ===== */
$font-xs: 11px;
$font-s: 12px;
$font-base: 14px;
$font-m: 15px;
$font-l: 16px;
$font-xl: 18px;
$font-2xl: 20px;
$font-headline: 48px;



/* ===== Spacing ===== */
$space-xs: 8px;
$space-s: 12px;
$space-m: 16px;
$space-l: 20px;
$space-xl: 24px;
$space-2xl: 32px;
$space-3xl: 48px;
$space-4xl: 64px;
$space-5xl: 80px;

$gap-xs: 8px;
$gap-s: 16px;
$gap-m: 24px;
$gap-l: 48px;
$gap-xl: 80px;



/* ===== Responsive Break Point ===== */
$bp-mo: 480px;
$bp-tab: 768px;
$bp-desktop: 1024px;